*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, "Russo One", "Montserrat",
    sans-serif; */
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Russo One", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.wrapper {
  /* position: relative; */
  /* z-index: 6; */
  min-height: 100%;
  /* background-image: url("../images/bg-particles.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* background-color: #0f0821; */
}
.page {
  /* position: relative; */
  /* z-index: -10; */
  /* background-color: #0f0821; */
  /* background-image: url("../images/bg-particles.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

.container {
  /* max-width: 1488px; */
  width: 1440px;
  /* max-width: 1500px; */
  margin: 0 auto;
  /* padding-left: 24px; */
  /* padding-left: 30px; */
  /* padding-right: 24px; */
  /* padding-right: 30px; */
  /* background-color: rgba(174, 60, 60, 0.318); */
}
@media (max-width: 1680px) {
  .container {
    /* max-width: 1488px; */
    /* max-width: 1500px; */
    width: calc(327px + (1440 - 327) * ((100vw - 375px) / (1680 - 375)));
    /* padding-left: 24px; */
    /* padding-left: 30px; */
    /* padding-right: 24px; */
    /* padding-right: 30px; */
    /* background-color: rgba(174, 60, 60, 0.318); */
  }
}

/* ================== Header =================== */
.header {
  position: fixed;
  width: 1440px;
  /* width: 100%; */

  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 11;
}
.header__container {
  /* max-width: 1400px; */
  /* margin: 0 auto; */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__icon {
  display: none;
}
.mobile__menu-logo {
  display: none;
}
.menu__body {
}
.menu__list {
  /* background-color: rgba(25, 81, 236, 0.474); */
}
.menu__list > li {
  padding: 0px 0px 0px 20px;
}

.menu__link {
  /* background-color: rgba(26, 236, 75, 0.342); */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-right: 28px;
  transition: all 0.5s;
  cursor: pointer;
}
.menu__link-last {
  margin-right: 0px;
}
.menu__link:hover {
  color: rgb(149, 149, 149);
}

.header__logo {
  /* background-color: rgba(255, 255, 255, 0.633); */
  z-index: 5;
  width: 86px;
  height: 74px;
  position: relative;
  margin: 10px 0;
  margin-right: 185px;
  cursor: pointer;
}
.header__logo-link {
}

.menu__contacts {
  display: flex;
  align-items: center;
}
.menu__phone {
  margin-right: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s;
}
.menu__phone:hover {
  color: rgb(149, 149, 149);
}
.menu__social a {
  margin-right: 16px;
}
.menu__social a svg {
  /* display: inline-block; */
  width: 30px;
  height: 30px;
  transition: 0.5s;
  fill: white;
}
.menu__social a svg:hover {
  fill: rgb(149, 149, 149);
}
.menu__social a:last-child {
  margin-right: 0px;
}

.menu__icon-inner {
  display: none;
  position: absolute;
  top: 10px;
  right: 26px;
  width: 52px;
  height: 52px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0.39%,
    rgba(255, 255, 255, 0.2) 100.39%
  );
  backdrop-filter: blur(146px);
  border-radius: 112px;
}
.mobile__burger-btn {
  display: none;
  cursor: pointer;
}

.main__bg-bottom {
  position: absolute;
  /* left: 0; */
  bottom: -14%;
  /* background-color: rgba(255, 255, 255, 0.036); */
  display: block;
  width: 100vw;
  min-height: 290px;
  background-image: url("../images/main-bg-bottom-bg.png");
  /* background: linear-gradient(89.97deg, #12152f 9.6%, #100921 85.18%); */
  /* filter: blur(84px); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------------------------------- */
/* body._pc .menu__list > li:hover */
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._lock {
  overflow: hidden;
}
/* ---------------------------------------------- */

/* -------------------- Media Header ---------------------- */
@media (max-width: 1680px) {
  .header {
    width: calc(327px + (1440 - 327) * ((100vw - 375px) / (1680 - 375)));
  }
}
@media (min-width: 967px) {
  .header {
    /* width: 100%; */
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2816) 0%,
      rgba(0, 0, 0, 0.44) 100%
    );
    backdrop-filter: blur(24px);
    border-radius: 16px;
  }
  .menu__body {
    display: flex;
    align-items: center;
    /* background-color: rgba(208, 227, 0, 0.286); */
    width: 100%;
    justify-content: space-between;
  }
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}
/* ------------------------------------------------------------ */

@media (max-width: 1460px) {
  .header {
    /* width: 100%; */
    /* max-width: 1400px; */
    /* width: 97%; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
  }
}

@media (max-width: 1255px) {
  .header__logo {
    margin-right: 70px;
  }
  .page__text p {
    font-size: 33px;
  }
  .main__title-inner h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 1140px) {
  .menu__link {
    margin-right: 15px;
  }
  .header__logo {
    margin-right: 5px;
  }
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 1030px) {
  .menu__link {
    margin-right: 10px;
  }
}
@media (max-width: 970px) {
  .page__text p {
    font-size: 26px;
  }
  .main__title-inner h1 {
    font-size: 42px;
    line-height: 54px;
  }
}

@media (max-width: 967px) {
  .header {
    width: 100%;
    background-color: none;
  }
  .page__text p {
    font-size: 23px;
    padding: 0px 8px 15px 8px;
  }
  .main__title-inner h1 {
    font-size: 38px;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    /* top: 26px; */
    /* right: 38px; */
    margin-left: 100%;
    width: 100%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    /* background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 0.39%,
      rgba(255, 255, 255, 0.2) 100.39%
    ); */
    /* backdrop-filter: blur(146px); */
    /* border-radius: 112px; */
  }
  .mobile__menu-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
  }
  .mobile__menu-logo-one {
    width: 80px;
    margin-right: 5px;
  }

  .mobile__burger-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 52px;
    height: 52px;
    background: #6a30e3;
    backdrop-filter: blur(32px);
    border-radius: 112px;
  }
  .mobile__burger-btn img {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
    transform: translate(0, -50%);
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    /* height: 10%; */
    height: 3.82px;
    /* width: 100%; */
    width: 28px;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    border-radius: 23px;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__icon-inner {
    display: block;
    z-index: -3;
  }

  .menu__body {
    position: fixed;
    /* top: 0; */
    top: -10px;
    /* margin-right: -2px; */
    right: -100%;
    max-width: 330px;
    width: 100%;
    /* min-height: 667px; */
    min-height: 580px;
    height: 100%;
    /* transform: translate(100%, 0px); */
    background: linear-gradient(112.29deg, #17234e 0%, #24063c 100%), #100821;
    box-shadow: 0px 48px 174px rgba(2, 1, 18, 0.67),
      0px 18.4889px 55.4222px rgba(2, 1, 18, 0.406963),
      0px 3.91111px 14.1778px rgba(2, 1, 18, 0.263037);
    border-radius: 28px 0px 0px 28px;
    padding: 22px 24px 24px 24px;
    transition: all 0.3s ease 0s;
    /* overflow: auto; */
  }
  .menu__body._active {
    /* transform: translate(0px, 0px); */
    right: 0;
  }

  .menu__list > li {
    margin: 0px 0px 36px 0px;
    padding: 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    display: flex;
    font-size: 24px;
    line-height: 29px;
    justify-content: flex-end;
    /* text-align: end; */
    margin-right: 4px;
  }

  .header__logo {
    display: none;
  }
  .menu__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 72px;
    align-content: flex-end;
    /* background-color: gray; */
    align-items: flex-end;
  }
  .menu__phone {
    margin-right: 0px;
    margin-top: 24px;
  }
}
@media (max-width: 430px) {
  .section__inner {
    background-image: url("../images/main-bg-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 376px) {
  .menu__body {
    max-width: 330px;
    min-height: 550px;
    padding: 24px 24px 24px 24px;
  }
  .mobile__menu-logo {
    margin-bottom: 20px;
  }
  .menu__list > li {
    margin: 0px 0px 35px 0px;
  }
  .menu__contacts {
    margin-top: 45px;
  }
  .menu__phone {
    margin-top: 20px;
  }
}

@media (max-width: 355px) {
  .menu__body {
    width: 315px;
    margin-right: -23px;
  }
  .menu__contacts {
    padding-right: 15px;
  }
  .menu__list {
    padding-right: 15px;
  }
}
/* ================== / Header ================ */
.page__section {
  padding-top: 20px;
}
.page__section_1 {
  min-height: 100vh;
}
.section__inner {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__title-inner {
  /* background-color: rgba(0, 128, 128, 0.355); */
  display: flex;
  position: absolute;
  z-index: 3;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page__title {
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 8px 0px #000000;
}
.page__text {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  /* line-height: 49px; */
  line-height: 33px;
  color: #ffffff;
}
.page__text p {
  padding: 0 0 15px 0;
}

@media (max-width: 767px) {
  .page__title {
    font-size: 32px;
    line-height: 39px;
  }
  .page__text {
    font-size: 20px;
    line-height: 19px;
  }
  .page__text p {
    padding: 0 0 15px 0;
  }
}

/* ------------------------ Sections ------------------------- */
.section {
  padding-top: 190px;
  /* padding-top: clamp(92px, 11.3vw, 190px); */

  /* padding-bottom: 40px; */
}
.collection__section {
  padding-top: 100px;
}
.bg {
  background-color: #190a32;
  /* background-color: #a28dc4; */
  /* background-color: red; */
}
.section__title {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  /* background-color: gold; */
  padding-top: 10px;
  padding-bottom: 40px;
  /* position: relative; */
  /* z-index: 2; */
}

/* @media (max-width: 1488px) {
  .section {
    padding-top: calc(92px + (190 - 92) * ((100vw - 375px) / (1488 - 375)));
  }
  .section__title {
    font-size: calc(24px + (52 - 24) * ((100vw - 375px) / (1488 - 375)));
    line-height: calc(29px + (63 - 29) * ((100vw - 375px) / (1488 - 375)));
    padding-top: 10px;
    padding-bottom: calc(32px + (40 - 32) * ((100vw - 375px) / (1488 - 375)));
  }
} */

@media (max-width: 1680px) {
  .section {
    padding-top: calc(92px + (190 - 92) * ((100vw - 375px) / (1680 - 375)));
  }
  .section__title {
    font-size: calc(24px + (52 - 24) * ((100vw - 375px) / (1680 - 375)));
    line-height: calc(29px + (63 - 29) * ((100vw - 375px) / (1680 - 375)));
    padding-top: 10px;
    padding-bottom: calc(32px + (40 - 32) * ((100vw - 375px) / (1680 - 375)));
  }
}

/* ==================== Creation1 Slider ======================= */
/* .creation1__slider-inner {
  display: flex;
  justify-content: center;
} */
.creation1__slider {
  position: relative;
  display: block;
  margin: 0 -5px;
}
.creation1__item-container {
  /* background-color: saddlebrown; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 1px; */
}
.creation1__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  font-size: 0;
}
@media (max-width: 967px) {
  .creation1__slider-inner {
    display: flex;
    justify-content: center;
    min-width: 0;
  }
  .creation1__slider {
    width: calc(333px + (476 - 333) * ((100vw - 375px) / (967 - 375)));
    margin: 0 auto;
  }
  .creation1__item-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 373px) {
  .creation1__slider {
    width: 276px;
  }
}
/* ==================== /End Creation1 Slider ======================= */

/* ==================== Creation2 Slider ======================= */
.arrow__prev {
  left: -90px;
  /* left: -29px; */
  width: 80px;
  /* width: 70px; */
  height: 80px;
  /* height: 70px; */

  background-color: #6a30e3;
  /* box-sizing: content-box; */
  /* padding: 23px; */
  /* padding: 18px; */
  /* padding-left: 10px; */
  /* padding-right: 12px; */
  /* padding-top: 23px; */
  /* padding-bottom: 23px; */
  border-radius: 50%;
  cursor: pointer;
}

.arrow__next {
  right: -90px;
  /* right: -29px; */
  width: 80px;
  /* width: 70px; */
  height: 80px;
  /* height: 70px; */

  background-color: #6a30e3;
  /* box-sizing: content-box; */
  /* padding: 23px; */
  /* padding: 18px; */
  /* padding-left: 10px; */
  /* padding-right: 12px; */
  /* padding-top: 23px; */
  /* padding-bottom: 23px; */
  border-radius: 50%;
  cursor: pointer;
}
.arrow__prev-svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* width: 11px; */
  width: 22px;
  /* height: 17px; */
  margin: 0 auto;
  height: 34px;
  background: url("../images/arrow-prev.svg") center center no-repeat;
  background-size: cover;
}
.arrow__next-svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* width: 11px; */
  width: 22px;
  /* height: 17px; */
  height: 34px;
  margin: 0 auto;
  background: url("../images/arrow-next.svg") center center no-repeat;
  background-size: cover;
}

.creation2__slider {
  position: relative;
  /* display: none; */
  display: block;
  /* min-width: 0; */
  /* width: 100%; */
  /* padding: 0 15px; */
  margin: 0 -5px;
}
.creation2__slider .slick-arrow {
  /* box-sizing: content-box; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  font-size: 0;
  /* width: 30px; */
  /* height: 30px; */
  /* background-color: gold; */
  /* padding: 11.5px 14.6px; */
}
.creation2__slider222 .slick-arrow.slick-prev {
  width: 11px;
  height: 17px;
  /* box-sizing: content-box; */
  left: 5px;
  background: url("../images/arrow-prev.svg") center center no-repeat;
  /* background-size: cover; */
  /* background-size: contain; */
  background-color: #6a30e3;
  /* padding: 11.5px 14.6px; */
  padding: 22px;
  border-radius: 100%;
}
.creation2__slider222 .slick-arrow.slick-next {
  width: 11px;
  height: 17px;
  right: 5px;
  /* background: url("../images/arrow-next.svg") 0 0 / 100% no-repeat; */
  background: url("../images/arrow-next.svg") center center no-repeat;
  background-color: #6a30e3;
  padding: 22px;
  border-radius: 100%;
}
.slider__item-2 {
  transition: all 0.3s ease 0s;
  /* min-width: 0; */
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* background-color: yellowgreen; */
  /* flex-direction: column; */
  /* width: 100%; */
  height: auto;
  /* padding: 0 -15px; */
  margin: 0 5px;
  /* display: inline-block; */
}
.creation2__item-container {
  /* background-color: saddlebrown; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 1px; */
}
.creation2__titleAndText {
  /* background-color: aqua; */
  /* height: auto; */
  /* overflow-y: auto; */
  margin-bottom: 16px;
  /* display: inline-block; */
}
.creation2__titleAndText-first {
  display: none;
}
.creation2__title {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #ffffff;
  /* background-color: tomato; */
  margin-bottom: 12px;
}
.creation2__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #c7b7e2;
  /* background-color: cadetblue; */
  padding-bottom: 1px;
}
.creation2__imgBig {
  width: 470px;
  height: 470px;
  /* filter: drop-shadow(0px 48px 174px rgba(2, 1, 18, 0.67))
    drop-shadow(0px 18.4889px 55.4222px rgba(2, 1, 18, 0.406963))
    drop-shadow(0px 3.91111px 14.1778px rgba(2, 1, 18, 0.263037)); */
  /* border-radius: 20px; */
  border-radius: 4%;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.creation2__imgBig img {
  max-width: 100%;
  border-radius: 4%;
  object-fit: cover;
}
.creation2__imgBig-one {
  background-image: url(../images/test-medium3.jpg);
}
.creation2__imgBig-two {
  background-image: url(../images/test-medium3.jpg);
}
.creation2__titleAndImgs {
  width: 467px;
  /* height: 470px; */
  /* background-color: teal; */
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.creation2__titleAndText-second {
  /* display: none; */
}
.creation2__smallImgs {
  /* background-color: seagreen; */
  display: flex;
  justify-content: space-between;
  /* width: 467px; */
  /* height: 209px; */
}
.creation2__smallImg {
  width: 227px;
  height: 227px;
  /* filter: drop-shadow(0px 31px 43px rgba(0, 0, 0, 0.31))
    drop-shadow(0px 11.9407px 13.6963px rgba(0, 0, 0, 0.188296))
    drop-shadow(0px 2.52593px 3.5037px rgba(0, 0, 0, 0.121704)); */
  /* border-radius: 16px; */
  border-radius: 7%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.creation2__smallImg img {
  max-width: 100%;
  border-radius: 7%;
  object-fit: cover;
}
.creation2__smallImg-one {
  /* background-image: url(../images/test-smal2.jpg); */
}
.creation2__smallImg-two {
  /* background-image: url(../images/test-smal2.jpg); */
}
/* ==================== @media Creation Slider ======================= */
@media (max-width: 1680px) {
  .arrow__prev {
    /* left: -90px; */
    left: calc(-10px + (-90 - -10) * ((100vw - 375px) / (1680 - 375)));
    /* width: 80px; */
    width: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375)));
    /* height: 80px; */
    height: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375)));
    /* padding: 23px; */
    /* padding: calc(1px + (23 - 1) * ((100vw - 375px) / (1680 - 375))); */
  }
  .arrow__next {
    /* right: -90px; */
    right: calc(-10px + (-90 - -10) * ((100vw - 375px) / (1680 - 375)));
    /* width: 80px; */
    width: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375)));
    /* height: 80px; */
    height: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375)));
    /* padding: 23px; */
    /* padding: calc(1px + (23 - 1) * ((100vw - 375px) / (1680 - 375))); */
  }
  .arrow__prev-svg {
    /* width: 22px; */
    width: calc(4px + (22 - 4) * ((100vw - 375px) / (1680 - 375)));
    /* height: 34px; */
    height: calc(11px + (34 - 11) * ((100vw - 375px) / (1680 - 375)));
  }
  .arrow__next-svg {
    /* width: 22px; */
    width: calc(4px + (22 - 4) * ((100vw - 375px) / (1680 - 375)));
    /* height: 34px; */
    height: calc(11px + (34 - 11) * ((100vw - 375px) / (1680 - 375)));
  }
  .creation2__title {
    font-size: calc(20px + (40 - 20) * ((100vw - 375px) / (1680 - 375)));
    margin-bottom: calc(4px + (12 - 4) * ((100vw - 375px) / (1680 - 375)));
  }
  .creation2__text {
    font-size: calc(8px + (20 - 8) * ((100vw - 375px) / (1680 - 375)));
  }
  .creation2__imgBig {
    /* width: 470px; */
    width: calc(105px + (470 - 105) * ((100vw - 375px) / (1680 - 375)));
    /* height: 470px; */
    height: calc(105px + (470 - 105) * ((100vw - 375px) / (1680 - 375)));
  }
  .creation2__titleAndImgs {
    /* width: 467px; */
    width: calc(105px + (467 - 105) * ((100vw - 375px) / (1680 - 375)));
  }
  .creation2__titleAndText {
    margin-bottom: calc(3px + (16 - 3) * ((100vw - 375px) / (1680 - 375)));
  }
  .creation2__smallImg {
    /* width: 227px; */
    width: calc(50px + (227 - 50) * ((100vw - 375px) / (1680 - 375)));
    /* height: 227px; */
    height: calc(50px + (227 - 50) * ((100vw - 375px) / (1680 - 375)));
  }
}

@media (max-width: 967px) {
  .creation2__slider-inner {
    display: flex;
    justify-content: center;
    min-width: 0;
  }
  .creation2__slider {
    width: calc(333px + (476 - 333) * ((100vw - 375px) / (967 - 375)));
    /* margin: 0 auto; */
  }
  .arrow__prev {
    left: -20px;
    /* left: calc(-10px + (-90 - -10) * ((100vw - 375px) / (1680 - 375))); */
    width: 40px;
    /* width: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    height: 40px;
    /* height: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    /* padding: 12px; */
    /* padding: 11px 14px; */
    /* padding: calc(1px + (23 - 1) * ((100vw - 375px) / (1680 - 375))); */
  }
  .arrow__next {
    right: -20px;
    /* right: calc(-10px + (-90 - -10) * ((100vw - 375px) / (1680 - 375))); */
    width: 40px;
    /* width: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    height: 40px;
    /* height: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    /* padding: 12px; */
    /* padding: calc(1px + (23 - 1) * ((100vw - 375px) / (1680 - 375))); */
  }
  .arrow__prev-svg {
    width: 11px;
    /* width: 22px; */
    height: 17px;
    /* height: 34px; */
  }
  .arrow__next-svg {
    width: 11px;
    height: 17px;
  }
  .creation2__item-container {
    flex-direction: column;
  }
  .creation2__titleAndText {
    display: block;
    margin-bottom: 24px;
  }
  .creation2__imgBig {
    width: calc(327px + (470 - 327) * ((100vw - 375px) / (967 - 375)));
    height: calc(327px + (470 - 327) * ((100vw - 375px) / (967 - 375)));
  }
  .creation2__imgBig-two {
    display: none;
  }
  .creation2__titleAndText-second {
    display: none;
  }
  .creation2__titleAndImgs {
    /* width: 467px; */
    width: calc(327px + (470 - 327) * ((100vw - 375px) / (967 - 375)));
    /* width: 100%; */
    margin-top: 16px;
  }
  .creation2__smallImg {
    width: calc(157px + (227 - 157) * ((100vw - 375px) / (967 - 375)));
    height: calc(157px + (227 - 157) * ((100vw - 375px) / (967 - 375)));
  }
  .creation2__title {
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (967 - 375)));
    /* margin-bottom: calc(4px + (12 - 4) * ((100vw - 375px) / (1680 - 375))); */
  }
  .creation2__text {
    font-size: calc(13px + (20 - 13) * ((100vw - 375px) / (967 - 375)));
  }
}

@media (max-width: 373px) {
  .creation2__slider {
    width: 276px;
  }
  .arrow__prev333 {
    left: -20px;
    /* left: calc(-10px + (-90 - -10) * ((100vw - 375px) / (1680 - 375))); */
    width: 40px;
    /* width: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    height: 40px;
    /* height: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    padding: 12px;
    /* padding: calc(1px + (23 - 1) * ((100vw - 375px) / (1680 - 375))); */
  }
  .arrow__next333 {
    right: -20px;
    /* right: calc(-10px + (-90 - -10) * ((100vw - 375px) / (1680 - 375))); */
    width: 40px;
    /* width: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    height: 40px;
    /* height: calc(20px + (80 - 20) * ((100vw - 375px) / (1680 - 375))); */
    padding: 12px;
    /* padding: calc(1px + (23 - 1) * ((100vw - 375px) / (1680 - 375))); */
  }
  .creation2__imgBig {
    width: 270px;
    height: 270px;
  }
  .creation2__titleAndImgs {
    /* width: 467px; */
    width: 270px;
    /* width: 100%; */
  }
  .creation2__smallImg {
    width: 133px;
    height: 133px;
  }
}
/* ==================== /End Creation  Slider ======================= */

/* ==================== Partners ======================= */
.partners__inner {
  /* background-color: teal; */
  display: flex;
  /* display: none; */
  flex-direction: column;
}
.partners__long {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.partners__short {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}
.partners__img {
  width: 262.4px;
  height: 184px;
  border-radius: 16px;
  background-image: url("../images/test-smal1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.partners__card {
  margin-right: 32px;
  /* background-color: gray; */
}
.partners__card-last {
  margin-right: 0px;
}

/* ==================== @medis Partners ======================= */
/* @media (max-width: 1488px) {
  .partners__long {
    margin-bottom: calc(1px + (32 - 1) * ((100vw - 375px) / (1488 - 375)));
  }
  .partners__card {
    margin-right: calc(1px + (32 - 1) * ((100vw - 375px) / (1488 - 375)));
  }
  .partners__img {
    border-radius: calc(10px + (16 - 10) * ((100vw - 320px) / (1488 - 320)));
    width: calc(55px + (262.4 - 55) * ((100vw - 320px) / (1488 - 320)));
    height: calc(40px + (184 - 40) * ((100vw - 320px) / (1488 - 320)));
  }
  .partners__card-last {
    margin-right: 0px;
  }
} */
@media (max-width: 1680px) {
  .partners__long {
    margin-bottom: calc(1px + (32 - 1) * ((100vw - 375px) / (1680 - 375)));
  }
  .partners__card {
    margin-right: calc(1px + (32 - 1) * ((100vw - 375px) / (1680 - 375)));
  }
  .partners__img {
    border-radius: calc(10px + (16 - 10) * ((100vw - 320px) / (1680 - 320)));
    width: calc(55px + (262.4 - 55) * ((100vw - 320px) / (1680 - 320)));
    height: calc(40px + (184 - 40) * ((100vw - 320px) / (1680 - 320)));
  }
  .partners__card-last {
    margin-right: 0px;
  }
}

/* ================= Partners Slider =============== */
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  /* overflow: hidden; */
}
/* Лента слайдов */
.slick-track {
  /* display: flex; */
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

/* Castou Partners slider -------------------------------*/
.partners__slider {
  position: relative;
  /* min-width: 0; */
  /* margin: 0 -12px; */
}
.partners__slider .slick-arrow {
  /* box-sizing: content-box; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  font-size: 0;
  /* width: 11px; */
  /* height: 17px; */
  /* background-color: gold; */
  /* padding: 11.5px 14.6px; */
}
.partners__slider .slick-arrow.slick-prev {
  width: 11px;
  height: 17px;
  /* box-sizing: content-box; */
  left: 5px;
  background: url("../images/arrow-prev.svg") center center no-repeat;
  /* background-size: contain; */
  background-color: #6a30e3;
  /* padding: 11.5px 14.6px; */
  padding: 22px;
  border-radius: 100%;
}
.partners__slider .slick-arrow.slick-next {
  width: 11px;
  height: 17px;
  right: 5px;
  /* background: url("../images/arrow-next.svg") 0 0 / 100% no-repeat; */
  background: url("../images/arrow-next.svg") center center no-repeat;
  background-color: #6a30e3;
  padding: 22px;
  border-radius: 100%;
}
.slider__item {
  transition: all 0.3s ease 0s;
  /* display: block; */
  /* width: 262px; */
  /* height: 184px; */
  border-radius: 16px;
  /* background-color: yellowgreen; */
  text-align: center;
  /* overflow: hidden; */
  opacity: 0.4;
  /* min-width: 0; */
  margin: 0 12px;
}
.slider__item.slick-center {
  opacity: 1;
  min-width: 0;
}
.slider__item img {
  /* display: block; */
  /* margin: 0 auto; */
  width: 224px;
  height: 157px;
  border-radius: 16px;
}
/* ================= /End Partners Slider =============== */
/* ==================== /End Partners ======================= */

/* ==================== TEAM ======================= */
.team__inner {
  /* background-color: teal; */
}
.team__short {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  /* width: 83%; */
  margin: 0 auto;
  margin-bottom: 24px;
}
.team__card {
  margin-right: 20px;
  /* background-color: gray; */
}
.team__card-last {
  margin-right: 0px;
}
.card__img {
  border-radius: 16px;
  /* background-color: red; */
  background-image: url("../images/test-Ava.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 223px;
  /* width: 100%; */
  height: 223px;
  /* height: 100%; */
  margin-bottom: 12px;
}
.card__title {
  margin-bottom: 2px;
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.card__description {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}
.team__long {
  /* background-color: coral; */
  display: flex;
  justify-content: center;
}

/* ==================== Media TEAM ======================= */
/* @media (max-width: 1488px) {
  .team__short {
    margin-bottom: calc(1px + (24 - 1) * ((100vw - 300px) / (1488 - 300)));
  }
  .team__card {
    margin-right: calc(1px + (18 - 1) * ((100vw - 300px) / (1488 - 300)));
  }
  .card__img {
    border-radius: calc(10px + (16 - 10) * ((100vw - 320px) / (1488 - 320)));
    width: calc(45px + (223 - 45) * ((100vw - 320px) / (1488 - 320)));
    height: calc(45px + (223 - 45) * ((100vw - 320px) / (1488 - 320)));
    margin-bottom: calc(1px + (12 - 1) * ((100vw - 320px) / (1488 - 320)));
  }
  .card__title {
    font-size: calc(1px + (20 - 1) * ((100vw - 320px) / (1488 - 320)));
    line-height: calc(2px + (24 - 2) * ((100vw - 320px) / (1488 - 320)));
  }
  .card__description {
    font-size: calc(4px + (15 - 4) * ((100vw - 320px) / (1488 - 320)));
    line-height: calc(6px + (18 - 6) * ((100vw - 320px) / (1488 - 320)));
  }
  .team__card-last {
    margin-right: 0px;
  }
} */
@media (max-width: 1680px) {
  .team__short {
    margin-bottom: calc(1px + (24 - 1) * ((100vw - 300px) / (1680 - 300)));
  }
  .team__card {
    margin-right: calc(1px + (18 - 1) * ((100vw - 300px) / (1680 - 300)));
  }
  .card__img {
    border-radius: calc(10px + (16 - 10) * ((100vw - 320px) / (1680 - 320)));
    width: calc(45px + (223 - 45) * ((100vw - 320px) / (1680 - 320)));
    height: calc(45px + (223 - 45) * ((100vw - 320px) / (1680 - 320)));
    margin-bottom: calc(1px + (12 - 1) * ((100vw - 320px) / (1680 - 320)));
  }
  .card__title {
    font-size: calc(1px + (20 - 1) * ((100vw - 320px) / (1680 - 320)));
    line-height: calc(2px + (24 - 2) * ((100vw - 320px) / (1680 - 320)));
  }
  .card__description {
    font-size: calc(4px + (15 - 4) * ((100vw - 320px) / (1680 - 320)));
    line-height: calc(6px + (18 - 6) * ((100vw - 320px) / (1680 - 320)));
  }
  .team__card-last {
    margin-right: 0px;
  }
}

/* Castou Team slider -------------------------------*/
.team__slider {
  position: relative;
  /* min-width: 0; */
  /* margin: 0 -12px; */
}
.team__slider .slick-arrow {
  /* box-sizing: content-box; */
  position: absolute;
  top: 30%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 5;
  font-size: 0;
  /* width: 11px; */
  /* height: 17px; */
  /* background-color: gold; */
  /* padding: 11.5px 14.6px; */
}
.team__slider .slick-arrow.slick-prev {
  width: 11px;
  height: 17px;
  /* box-sizing: content-box; */
  left: 5px;
  background: url("../images/arrow-prev.svg") center center no-repeat;
  /* background-size: contain; */
  background-color: #6a30e3;
  /* padding: 11.5px 14.6px; */
  padding: 22px;
  border-radius: 100%;
}
.team__slider .slick-arrow.slick-next {
  width: 11px;
  height: 17px;
  right: 5px;
  /* background: url("../images/arrow-next.svg") 0 0 / 100% no-repeat; */
  background: url("../images/arrow-next.svg") center center no-repeat;
  background-color: #6a30e3;
  padding: 22px;
  border-radius: 100%;
}
.team__slider-item {
  transition: all 0.3s ease 0s;
  /* display: block; */
  width: 157px;
  /* height: 157px; */
  /* border-radius: 16px; */
  /* background-color: yellowgreen; */
  /* text-align: center; */
  /* overflow: hidden; */
  opacity: 0.2;
  /* min-width: 0; */
  margin: 0 12px;
}
.team__slider-item.slick-center {
  opacity: 1;
  min-width: 0;
}
.team__slider-img {
  background-image: url(../images/test-Ava.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 157px;
  height: 157px;
  border-radius: 16px;
  margin-bottom: 8px;
}
.team__slider-title {
  margin-bottom: 2px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.team__slider-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
/* ================= /End Team Slider =============== */
/* --------------------------------------------------------- */
.partners__block-slider,
.team__block-slider {
  display: none;
}
.partners__block,
.team__block {
  display: block;
}
@media (max-width: 967px) {
  .partners__block-slider,
  .team__block-slider {
    display: block;
  }
  .partners__block,
  .team__block {
    display: none;
  }
}
/* ==================== /End TEAM ======================= */

/* ==================== About ======================= */
.about__section {
  /* background-color: #2f1049; */
}

.about__img {
  display: block;
  margin: 0 auto;
  width: 1200px;
  /* max-width: 1200px; */
  /* width: 100%; */
  height: 272px;
  /* max-height: 272px; */
  /* height: 100%; */
  /* filter: drop-shadow(0px 48px 174px rgba(2, 1, 18, 0.67))
    drop-shadow(0px 18.4889px 55.4222px rgba(2, 1, 18, 0.406963))
    drop-shadow(0px 3.91111px 14.1778px rgba(2, 1, 18, 0.263037)); */
  border-radius: 16px;
  margin-bottom: 32px;
}
.about__description {
}
.about__description-title {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
}
.about__description-text {
  width: 1200px;
  /* width: 100%; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  line-height: 20px;
  /* or 20px */
  text-align: center;
  margin: 0 auto;
  color: #c7b7e2;
}

/* ---------------- Media About -------------- */
/* @media (max-width: 1488px) {
  .about__img {
    width: calc(327px + (1200 - 327) * ((100vw - 375px) / (1488 - 375)));
    height: calc(140px + (272 - 140) * ((100vw - 375px) / (1488 - 375)));
    border-radius: calc(12px + (16 - 12) * ((100vw - 375px) / (1488 - 375)));
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 375px) / (1488 - 375)));
  }
  .about__description-title {
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1488 - 375)));
    margin-bottom: calc(4px + (12 - 4) * ((100vw - 375px) / (1488 - 375)));
  }
  .about__description-text {
    font-size: calc(13px + (20 - 13) * ((100vw - 375px) / (1488 - 375)));
  }
  .about__description-text {
    width: calc(325px + (1200 - 325) * ((100vw - 375px) / (1488 - 375)));
  }
} */
@media (max-width: 1680px) {
  .about__img {
    width: calc(317px + (1200 - 317) * ((100vw - 375px) / (1680 - 375)));
    height: calc(137px + (272 - 137) * ((100vw - 375px) / (1680 - 375)));
    border-radius: calc(12px + (16 - 12) * ((100vw - 375px) / (1680 - 375)));
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 375px) / (1680 - 375)));
  }
  .about__description-title {
    font-size: calc(24px + (40 - 24) * ((100vw - 375px) / (1680 - 375)));
    margin-bottom: calc(4px + (12 - 4) * ((100vw - 375px) / (1680 - 375)));
  }
  .about__description-text {
    font-size: calc(13px + (20 - 13) * ((100vw - 375px) / (1680 - 375)));
  }
  .about__description-text {
    width: calc(325px + (1200 - 325) * ((100vw - 375px) / (1680 - 375)));
  }
}

/*----------------- End About --------------------*/

/*----------------- FAQ --------------------*/
.accordion-list {
  /* transition: all 0.2s ease-out; */
  /* background-color: red; */
}
/* .accordion__item {
  margin: 5px auto;
} */
/* .accordion__item .accordion__title {
  position: relative;
  display: block;
  padding: 13px 60px 15px 13px; */
/* margin-bottom: 2px; */
/* color: #202020;
  color: white;
  font-size: 28px;
  text-decoration: none;
  background-color: #eaeaea; */
/* border-radius: 16px; */
/* border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
} */
/* .accordion__item:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.0512) 100%
  );
  backdrop-filter: blur(64px);
  transition: all 0.5s ease-out;
} */
/* .accordion__item .accordion__title:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.0512) 100%
  );
  backdrop-filter: blur(64px);
  transition: all 0.5s ease-out;
} */
/* .accordion__item .accordion-active {
  background-color: #e5e4e4;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.accordion-active {
} */
/* .accordion__item .accordion__title .accordion__arrow { */
/* position: absolute; */
/* top: 13px; */
/* right: 10px; */
/* display: none; */
/* display: inline-block; */
/* vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
  background-color: #c9c9c9;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.accordion__item .accordion__rotate {
  transform: rotate(225deg);
}
.accordion__item .accordion__content {
  padding: 30px;
  margin-bottom: 2px;
  font-size: 14px;
  display: none;
  background-color: #f3f3f3;
}
.accordion__item .accordion__arrow-item {
  font-weight: 700;
} */
/*-------------------End FAQ ------------------*/

/*------------------- FAQ test ------------------*/
/** Ignore start */
/* body {
  font-family: "Poppins", arial, sans-serif;
  color: #555;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
} */

/* .faq__container { */
/* max-width: 700px; */
/* width: 100%; */
/* margin-left: auto; */
/* margin-right: auto; */
/* padding: 0 30px; */
/* } */
/** Ignore end */
/** Accordion item style */
/* .accordion-item {
  opacity: 0;
  visibility: hidden;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.0512) 100%
  );
  backdrop-filter: blur(64px);
  padding: 20px 20px;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.accordion-item > .title {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #ffffff;
}
.accordion-item > .title > .arrow {
  fill: #b721ff;
  margin-right: 12px;
}
.accordion-item > .content {
  display: none;
  overflow: hidden;
  padding-top: 20px;
}
.accordion-item > .content > .entry {
  line-height: 1.74;
}
.accordion-item > .content > .entry p:last-of-type,
.accordion-item > .content > .entry p:last-child {
  margin-bottom: 0;
} */

/*-------------------End FAQ Test ------------------*/

/*------------------- FAQ LAST ------------------*/
.faq__section {
  padding-bottom: 200px;
}
ul.accordion-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 22px; */
  position: relative;
  /* min-width: 327px; */
  width: 100%;
  /* height: auto; */
  /* min-height: 56px; */
  height: 100%;
  /* padding: 20px; */
  /* margin: 0; */
  list-style: none;
  /* background-color: #f9f9fa; */
  transition: all 0.5s;
}
ul.accordion-list li {
  position: relative;
  /* display: flex; */
  display: block;
  /* min-width: 327px; */
  /* max-width: 327px; */
  width: 100%;
  /* height: auto; */
  /* min-height: 56px; */
  /* max-height: 56px; */
  height: 100%;
  /* margin-bottom: 2%; */
  /* padding: 32px; */
  padding: 30px;
  /* margin: 0 auto 15px auto; */
  /* border: 1px solid #eee; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.0512) 100%
  );
  backdrop-filter: blur(64px);
  border-radius: 16px;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
  transition: all 0.5s;
}
ul.accordion-list li:not(:last-child) {
  margin-bottom: 22px;
}
ul.accordion-list li:last-child {
  /* margin-bottom: 0%; */
}
ul.accordion-list li:hover {
  /* background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.1536) 100%
  ); */
  /* transition: 0.5s; */
}
ul.accordion-list li.active {
  /* transition: 0.5s; */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.1536) 100%
  );
}
ul.accordion-list li.active h3:before {
  transform: rotate(0deg);
}
ul.accordion-list li h3 {
  position: relative;
  /* display: block; */
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0;
  cursor: pointer;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
ul.accordion-list li h3:before {
  /* content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='white'><path d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /></svg>"); */

  /* content: url("data:image/svg+xml;utf8,<svg width='26' height='21' viewBox='002621' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.328219.0077C14.744921.382611.255121.38269.671819.0077L1.145876.2188C-0.6262783.560581.27929-5.16073e-74.47407-2.36776e-7L21.52591.25394e-6C24.72071.53324e-626.62633.5605824.85416.2188L16.328219.0077Z' fill='white' /></svg>"); */
  display: block;
  content: "";
  background-image: url(../images/arrow-accordion.svg);
  vertical-align: middle;
  background-size: 32px 24px;
  max-width: 32px;
  width: 100px;
  height: 24px;
  margin-right: 12px;
  transform: rotate(-90deg);
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
  /* transform: translate(0, -50%); */
  /* color: #fcc110; */
  transition: all 0.3s ease-in-out;

  color: #ffffff;
}
ul.accordion-list li div.answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  padding: 20px 0 0 0;
  cursor: pointer;
  /* margin: 0 0 15px 0; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */
  color: #ffffff;
}

/* --------------- FAQ Media ----------------  */
@media (max-width: 967px) {
  .faq__section {
    padding-bottom: 90px;
  }
  ul.accordion-list {
    /* gap: 12px; */
  }
  ul.accordion-list li {
    padding: 16px;
    border-radius: 12px;
  }
  ul.accordion-list li:not(:last-child) {
    margin-bottom: 12px;
  }
  ul.accordion-list li h3 {
    font-size: 15px;
    line-height: 18px;
  }
  ul.accordion-list li h3:before {
    background-size: 20px 14px;
    max-width: 20px;
    height: 14px;
    margin-right: 12px;
  }
  ul.accordion-list li div.answer p {
    font-size: 13px;
    padding-top: 8px;
  }
}

/*-------------------End FAQ LAST ------------------*/

/* ===================== Footer =================== */
.footer {
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer__inner {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* background-color: teal; */
}
.footer__logo {
  /* background-color: gold; */
  margin-right: 40px;
  cursor: pointer;
}
.footer__menu {
  /* background-color: aqua; */
  max-width: 562px;
  width: 100%;
}
.footer__contacts {
  margin-bottom: 24px;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__phone {
  /* background-color: pink; */
  margin-left: auto;
  margin-right: 32px;
}
.footer__phone a {
  transition: all 0.5s;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.footer__phone a:hover {
  color: rgb(149, 149, 149);
}
.footer__social {
  /* background-color: coral; */
  display: flex;
  /* gap: 16px; */
  flex-direction: row;
  align-items: center;
}
.footer__social a:not(:last-child) {
  margin-right: 16px;
}
.footer__social-link {
  /* background-color: green; */
  width: 56px;
  height: 56px;
  border-radius: 100%;
  overflow: hidden;
}
.footer__social-link svg {
  box-sizing: content-box;
  transition: all 0.5s;
  padding: 17px;
  width: 24px;
  height: 24px;
  /* width: 24px;
  height: 24px; */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0.39%,
    rgba(255, 255, 255, 0.12) 100.39%
  );
  backdrop-filter: blur(32px);
  fill: white;
}
.footer__social-link svg:hover {
  fill: rgb(149, 149, 149);
}
.footer__social-link svg.telegram {
  padding-left: 15px;
}
.footer__menu-list {
  /* max-width: 562px; */
  /* width: 100%; */
  /* background-color: saddlebrown; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__menu-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  transition: all 0.5s;
}
.footer__menu-link:hover {
  color: rgb(149, 149, 149);
}

/* --------------- Footer Media ----------------  */
@media (max-width: 1680px) {
  .footer {
    padding-bottom: calc(24px + (64 - 24) * ((100vw - 375px) / (1680 - 375)));
  }
  .footer__phone a {
    font-size: calc(11px + (20 - 11) * ((100vw - 375px) / (1680 - 375)));
    line-height: calc(13px + (24 - 13) * ((100vw - 375px) / (1680 - 375)));
  }
  /* .footer__social-link {
    width: calc(32px + (56 -32) * ((100vw - 375px) / (1488 - 375)));
    height: calc(32px + (56 - 32) * ((100vw - 375px) / (1488 - 375)));
  }
  .footer__social-link svg {
    padding: calc(10px + (17 - 10) * ((100vw - 375px) / (1488 - 375)));
    width: calc(14px + (24 - 14) * ((100vw - 375px) / (1488 - 375)));
    height: calc(14px + (24 - 14) * ((100vw - 375px) / (1488 - 375)));
  }
  .footer__social-link svg.telegram {
    padding-left: calc(8px + (15 - 8) * ((100vw - 375px) / (1488 - 375)));
  } */
  .footer__contacts {
    margin-bottom: calc(20px + (24 - 20) * ((100vw - 375px) / (1680 - 375)));
  }
  .footer__menu-link {
    font-size: calc(11px + (20 - 11) * ((100vw - 375px) / (1680 - 375)));
    line-height: calc(13px + (24 - 13) * ((100vw - 375px) / (1680 - 375)));
  }
}
@media (max-width: 967px) {
  .footer {
    padding-top: 0px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__logo {
    margin-right: 0;
    margin-bottom: 28px;
  }
  .footer__logo img {
    max-width: 236px;
    width: 100%;
  }
  .footer__menu {
    max-width: 100%;
  }
  .footer__phone {
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer__social a:not(:last-child) {
    margin-right: 10px;
  }
  .footer__social-link {
    width: 32px;
    height: 32px;
  }
  .footer__social-link svg {
    padding: 10px;
    width: 14px;
    height: 13px;
  }
  .footer__social-link svg.telegram {
    padding-left: 8px;
  }
}
